@font-face {
    font-family: 'BadHorse';
    src: url(C:\Users\george\Documents\cyara\SugarRush\static) format('woff'),
  }
  
  .titlee{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
      font-size: 140px;
      margin:0;
  }
  
  
  body {
      font-size: 120px;
      color: #5271ff;
      margin: 0;
      padding: 0;
      background-color: #ffe4fe;
  }
  
  /* Estilos generales */
  body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
      background-color: #f0f0f0; /* Fondo claro */
      margin: 0;
  }
  
  /* Contenedor del menú */
  .menu-container {
      text-align: center;
  }
  
  /* Estilo de los botones */
  .menu-button {

      font-size: 18px;
      font-weight: bold;
      color: #ffe4fe;
      background-color: #5271ff; /* azul */
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  /* Efecto hover (cuando el ratón está sobre el botón) */
  .menu-button:hover {
      background-color: #4362f0; /* Un azul más oscuro */
      transform: scale(1.05); /* Aumentar tamaño ligeramente */
  }
  
  /* Efecto de sombra */
  .menu-button:active {
      background-color: #4362f0;
      box-shadow: 0 5px #666;
      transform: translateY(4px); /* Simula un clic bajando el botón */
  }
  /* Botones de navegación (flecha y X) */
.nav-buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
}

.nav-button {
    background-color: #d3a3d8;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #b387c7;
}

.nav-button img {
    width: 20px;
    height: 20px;
}
  /* Botón de "Salir" con un color diferente */
  .menu-button.salir {
      background-color: #f44336; /* Rojo */
  }
  
  .menu-button.salir:hover {
      background-color: #e53935; /* Rojo oscuro */
  }
  
  .menu-button.salir:active {
      background-color: #d32f2f;
  }